@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

* {
    font-family: Inconsolata;
    text-align: center;
}

hr {
    border-top-color: #ed8796;
}

body {
    background: #24273a;
    color: #f4dbd6;
}

table {
    margin: 0 auto;
    border: 1px inset #ed8796;
    border-radius: 2rem;
    padding: 0 1.5rem;
}

th {
    padding: 0 3rem;
}

.header-two {
    max-width: fit-content;
    text-align: center;
    margin: 0 auto;
}

.header-two h2 {
    text-align: center;
    max-width: fit-content;
    margin-inline: auto;
}

.header-two ul {
    text-align: center;
    margin: 0 auto;
}

.header-three {
    max-width: fit-content;
    text-align: center;
    margin-inline: auto;
    padding: 0 4rem;
}

.header-three li {
    padding-right: 2rem;
    list-style-position: inside;
    text-align: left;
    margin: 0 auto;

}

a {
    color: #eed49f;
}

img {
    max-width: 10rem;
    border-radius: 100%;
}